/* styles.css */
body {
    background-color: black;
    overflow: hidden;
    color: rgb(247, 205, 251);
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 8px #b777d5;
}
.command {
    border: none !important;
    border-color: transparent !important;
    outline: none !important;
    width: 100px;
    background-color: transparent;
    color: rgb(247, 205, 251);
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 8px #b777d5;
}
.butn {
    border: none !important;
    border-color: transparent !important;
    outline: none !important;
    background-color: transparent;
    color: rgb(247, 205, 251);
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 8px #b777d5;
}
/* Add styles here to customize the appearance of your app */